.btn {
  display: inline-block;
  background-color: rgb(144, 202, 255);
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.4;
  filter: alpha(opacity=4);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: rgb(4, 4, 122);
}
